.team {
    display: flex;
    flex-direction: row;
    gap: 10px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.teamMemberIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
}

.teamMemberIcon:hover {
    filter: brightness(0.8);
}

.teamAddMember {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.teamAddMemberIcon {
    filter: invert(54%) sepia(14%) saturate(396%) hue-rotate(180deg) brightness(94%) contrast(92%);
}

.teamEditAssigneeUnassignedIcon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(201deg) brightness(102%) contrast(102%);
    width: 16px;
    height: 16px;
}

.modalBackground {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalBody {
    background-color: white;
    margin: 3.2% auto;
    padding: 24px;
    border-radius: 4px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.modalBodyFormTitle {
    color: #172b4d;
    font-size: 24px;
    margin-bottom: 25px;
}

.modalBodyFormInputField {
    display: flex;
    flex-direction: column;
}

.modalBodyFormLabel {
    color: #6b778c;
    font-size: 12px;
    margin-bottom: 6px;
}

.modalBodyFormInput {
    padding: 0 10px 0 10px;
    background-color: #f4f5f7;
    border: none;
    border-radius: 4px;
    outline-color: #4382f7;
    transition: background-color 0.2s ease-in-out;
    color: #404c68;
    height: 40px;
    margin-bottom: 20px;
}

.modalBodyFormInput:hover {
    background-color: #dfe1e5;
}

.modalBodyFormButtons {
    height: 32px;
    display: flex;
    flex-direction: row;
}

.modalBodyFormButtonsLeft {
    justify-content: flex-start;
}

.modalBodyFormButtonsRight {
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
    flex: 1;
    gap: 8px;
}

.modalBodyFormDeleteButton {
    border-radius: 4px;
    border: none;
    background-color: #fff;
    color: #ff0000;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.05s ease;
}

.modalBodyFormDeleteButton:hover {
    background-color: #dfe1e5;
}

.modalBodyFormCancelButton {
    border-radius: 4px;
    border: none;
    background-color: #fff;
    color: #42526e;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.05s ease;
}

.modalBodyFormCancelButton:hover {
    background-color: #dfe1e5;
}

.modalBodyFormConfirmButton {
    border-radius: 4px;
    border: none;
    background-color: #0052cc;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.05s ease;
}

.modalBodyFormConfirmButton:hover {
    background-color: #0066ff;
}

.modalBodyFormColors {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.modalBodyFormColorButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
}

.modalBodyFormColorButton:hover {
    filter: brightness(0.7);
}

.modalBodyFormColorButtonSelected img {
    filter: invert(0%) sepia(67%) saturate(7500%) hue-rotate(170deg) brightness(115%) contrast(112%);
    transition: filter 0.2s ease-in-out;
}