.appProject {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.appProjectHeader {
    font-family: sans-serif;
    padding: 30px 40px 20px 40px;
    display: flex;
    flex-direction: column;
}

.appProjectHeaderDirectory {
    color: #6b778c;
    font-size: 14px;
    text-overflow: ellipsis;
}

.appProjectHeaderName {
    color: #172b4d;
}

.appProjectBoard {
    display: flex;
    flex-direction: row;
    padding: 40px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.appProjectBoardColumn {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 80px;
    height: fit-content;
    background-color: #f4f5f7;
    border-radius: 2px;
    margin-right: 16px;
    padding: 5px;
}

.appProjectBoardColumnTitle {
    text-transform: uppercase;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    padding: 8px;
}

.appProjectBoardColumnAddIssue {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.appProjectBoardColumnAddIssue input {
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    outline-color: #4382f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-in-out;
}

.appProjectBoardColumnAddIssueConfirmButton {
    margin-top: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.appProjectBoardColumnAddIssueConfirmButton::after {
    content: "\2713";
    font-size: 18px;
    font-weight: bold;
}

.appProjectBoardColumnAddButton {
    display: flex;
    align-items: center;
    color: #45526c;
    background-color: transparent;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.appProjectBoardColumnAddButton:hover {
    background-color: #e2e4e9;
}

.showOnHoverButton {
    opacity: 0;
    transition: opacity 0.05s ease-in-out;
}

.appProjectBoardColumn:hover .showOnHoverButton {
    opacity: 1;
}

.appProjectBoardColumnIssue {
    background-color: #fff;
    margin-bottom: 4px;
    min-height: 80px;
    border-radius: 4px;
    padding: 8px 10px 8px 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
}

.appProjectBoardColumnIssue:hover {
    background-color: #f4f5f7;
}

.appProjectBoardColumnIssue input {
    padding: 10px 0 10px 2px;
    border: none;
    border-radius: 4px;
    outline-color: #4382f7;
    transition: background-color 0.2s ease-in-out;
    color: #404c68;
    background-color: transparent;
}

.appProjectBoardColumnIssue span {
    color: #828b9d;
}

.appProjectBoardColumnIssue input:hover:not(:focus) {
    background-color: #dfe1e5;
}

.appProjectBoardColumnIssueMoreButton {
    border-radius: 4px;
    height: 40px;
    width: 40px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #f4f5f7;
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.appProjectBoardColumnIssueMoreButton span {
    font-weight: bolder;
    color: gray;
    letter-spacing: 2px;
}

.appProjectBoardColumnIssueMoreButton:hover {
    background-color: #dfe1e5;
}

.appProjectBoardColumnIssueMoreButtonDropdown {
    display: flex;
    flex-direction: column;
    z-index: 4;
    position: absolute;
    background-color: #fff;
    width: fit-content;
    outline: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    transform: translateX(45px) translateY(45px);
    padding: 4px 0 4px 0;
}

.appProjectBoardColumnIssueMoreButtonDropdownItem {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 160px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    align-items: center;
    padding: 0 12px;
}

.appProjectBoardColumnIssueMoreButtonDropdownItem span {
    color: #404c68;
    font-size: 14px;
    padding: 0 8px;
}

.appProjectBoardColumnIssueMoreButtonDropdownItem:hover {
    background-color: #f4f5f7;
}

.appProjectBoardColumnIssueRow {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.appProjectBoardColumnIssueRowEnd {
    margin-left: auto;
}

.appProjectBoardColumnIssueGap {
    height: 10px;
}

.appProjectBoardColumnIssueEditAssigneeDropdown {
    display: flex;
    flex-direction: column;
    z-index: 4;
    position: absolute;
    background-color: #fff;
    width: 250px;
    outline: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    transform: translateX(-10px);
}

.appProjectBoardColumnIssueEditAssigneeDropdownItem {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    align-items: center;
    padding: 0 12px;
}

.appProjectBoardColumnIssueEditAssigneeDropdownItem span {
    color: #404c68;
    padding: 0 8px;
}

.appProjectBoardColumnIssueEditAssigneeDropdownItem:hover {
    background-color: #f4f5f7;
}